* {
  box-sizing: border-box;
  font-family: helvetica;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  color: black
}

.menu {
  width: 10%;
  float: left;
}

.chatWindow {
  /* width: 80%;
  margin: auto;
   */
  height: 600px;
  width: 900px;
  margin: auto;
}
